numpy
pandas
scikit-learn
matplotlib
seaborn
jupyter
notebook

torch
transformers
datasets
accelerate
sentence-transformers

peft
trl
bitsandbytes

evaluate
imbalanced-learn

nltk
spacy

streamlit

tqdm
python-dotenv

xgboost
lightgbm

shap

ipywidgets